@{
    ViewBag.Title = "CSS3";
}

<h3 class="span_4_of_12">CSS3</h3>

<p>
     CSS3 is a huge improvement on CSS2 and brings so many new exciting and useful concepts to styling. I have not used every new feature but below you can see what new features I have used.
</p>

 

<div class="span_9_of_12" id="wrapperMiddle"> 

    @*transition effects and related code*@
    <h3 class="span_9_of_12 contentTitle">Transition Effects & Rounded Corners</h3>

    <div class="span_12_of_12 contentStyle" >

        <h3 class="span_9_of_12 contentTitle">Code</h3>

        <div class="span_12_of_12 contentFeatures">
            <img class="pics" src="~/Content/pics/TransitionEffect.png" />
        </div>

    
   
        <h3 class="span_9_of_12 contentTitle">Result</h3>
        <div class="span_12_of_12 contentFeatures">
            <img class="pics" src="~/Content/pics/TransitionResult.gif" />
        </div>

    </div>
    @* transition code ends here *@

    @*RGBA Colors*@
    <h3 class="span_9_of_12 contentTitle">RGBA (left) vs RGB (right)</h3>

    <div class="span_12_of_12 contentStyle" >

        <h3 class="span_9_of_12 contentTitle">Code</h3>

        <div class="span_12_of_12 contentFeatures">
            <img class="pics" src="~/Content/pics/RGBACode.png" />
        </div>

    
   
        <h3 class="span_9_of_12 contentTitle">Result</h3>
        <div class="span_12_of_12 contentFeatures">
            <img class="pics" src="~/Content/pics/rgba.gif" />
            <img class="pics" src="~/Content/pics/rgb.gif" />
        </div>

    </div>

    @*RGBA ends here*@

    <h3 class="span_9_of_12 contentTitle">Web Fonts (this is awesome)</h3>

    <div class="span_12_of_12 contentStyle" >

        <h3 class="span_9_of_12 contentTitle">Code</h3>

        <div class="span_12_of_12 contentFeatures">
            <img class="pics" src="~/Content/pics/fontFaceCode.png" />
        </div>

    
   
        <h3 class="span_9_of_12 contentTitle">Result</h3>
        <div class="span_12_of_12 contentFeatures">
            <img class="pics" src="~/Content/pics/webFont.png" />
      
        </div>

    </div>

</div>