@{
    ViewBag.Title = "Index";
}


<h3 class="span_4_of_12"> pooooooooppppp   </h3>

<div id="wrapperMiddle" class="span_9_of_12">
      
    <div class="span_4_of_12 content"><h3 class="contentTitle">HTML5</h3><img src="~/Content/Icons/html-5.png" /><p> This site uses the latest HTML standard: HTML5. HTML5 brings many new tags and removes a few tags to allow CSS to take its place. The biggest change for me is the added structure you can give your webstei through the use of the header, footer, article and section tags</p></div>
    <div class="span_4_of_12 content"><h3 class="contentTitle">CSS3</h3><img src="~/Content/Icons/css3.png" /><p> CSS3 is the latest version of Cascading Style Sheets and for me makes an enormous difference when it comes to creating cleaner and more crisp website designs. Especially the elements such as rouded corners and drop shadows to make even the simplest elements look good. The challenge of creating a responsive website, like this one, was made considerably easier with the new layouts that could be achieved using these new standards.</p></div>
    <div class="span_4_of_12 content"><h3 class="contentTitle">MVC</h3><img src="~/Content/Icons/mvc.png" /><p>MVC (model-vew-controller) refers to the structure of an application, in this case a web application. Each part, model, view and controller, is responsible for a specific action. Views are the webpages themselves and contain the html elements that make up a page. The controller controls the flow of the website and responds to user interaction, its in charge of bringing up new views, interacting with the model and passing information from the model to the view. This website uses MVC 4.</p> </div>

</div>
<div id="wrapperMiddleContent" class="span_6_of_12">

    <div class="span_6_of_12 content2"><h3 class="contentTitle">RAZOR Syntax</h3><img src="~/Content/Icons/razor4.png" /><p>Razor syntax is based on the ASP.NET technology, provided by microsoft. Razor syntax is used to incorporate programming functionality into html. Previously Javascript or PHP would be used but with the .NET framework and razor syntax C# or VB.net programmers can make basically any type of application. This site uses C# ASP.NET which is cleaner than that of PHP in my opinion. </p></div>
    <div class="span_6_of_12 content2"><h3 class="contentTitle">ASP.NET</h3><img src="~/Content/Icons/asp.png" /><p>@Html.Encode(ViewData["Message"]) </p>  </div>

</div>






